<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
      }

      .wrapper {
        height: 100vh;
        width: 100vw;
        overflow-x: hidden;
        color: white;
        background-color: #000000;
      }

      .heading {
        margin: auto;
        margin-top: 50px;
        width: fit-content;
        border: 2px solid white;
        padding: 10px;
      }

      .table {
        display: flex;
        justify-content: center;
        margin-top: 50px;
      }

      table {
        border-collapse: collapse;
        border: 1px solid white;
      }

      table th,
      td {
        border: 1px solid white;
        padding: 10px;
        text-align: center;
      }

      .form {
        display: flex;
        justify-content: center;
        margin-top: 50px;
        height: 50px;
      }

      form {
        display: flex;
        align-items: center;
        gap: 10px;
      }

      form label {
        font-size: 20px;
      }

      form input {
        padding: 5px;
        outline: none;
        width: 400px;
        background-color: #414141;
        border: none;
        color: white;
        font-size: 15px;
        border-radius: 5px;
        border: 0.3px solid white;
      }

      .form button {
        font-size: 15px;
        padding-top: 6px;
        padding-bottom: 6px;
        padding-left: 15px;
        padding-right: 15px;
        background-color: rgb(17, 156, 17);
        border: none;
        color: white;
        cursor: pointer;
        border-radius: 5px;
        width: 100px;
      }

      .form button:hover {
        border: 1px solid white;
      }
    </style>
  </head>
  <body>
    <div class="wrapper">
      <h1 class="heading">URL SHORTENER</h1>
      <div class="form">
        <form method="post" action="/api/url">
          <label for="">Enter your original URL: </label>
          <input type="text" name="url" placeholder="https://example.com" />
          <button type="submit">Generate</button>
        </form>
      </div>

      <% if(locals.id) {%>
      <p style="text-align: center; margin-top: 20px; color: rgb(17, 156, 17)">
        <span style="color: white">URL Generated:</span>
        https://url-shortner-backend-80qb.onrender.com/api/url/<%= id %>
      </p>
      <% } %>

      <div class="table">
        <% if (locals.urls) { %>
        <table>
          <thead>
            <th>S. No</th>
            <th>Original Url</th>
            <th>ShortID</th>
            <th>Clicks</th>
          </thead>
          <tbody>
            <% urls.forEach((url, index) => { %>
            <tr>
              <td><%= index + 1 %></td>
              <td
                style="
                  display: flex;
                  justify-content: flex-start;
                  padding-left: 20px;
                "
              >
                <%= url.redirectUrl %>
              </td>
              <td><%= url.shortId %></td>
              <td><%= url.visitHistory.length %></td>
            </tr>
            <% }) %>
          </tbody>
        </table>
        <% } %>
      </div>

      <div
        style="
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 10px;
        "
      >
        <h4 style="text-align: center; margin-top: 30px; margin-bottom: 30px">
          You can visit OriginalURL at:
        </h4>
        <p>
          {https://url-shortner-backend-80qb.onrender.com/api/url/<span
            style="color: rgb(17, 156, 17)"
            >:ShortId</span
          >}
        </p>
      </div>
    </div>
  </body>
</html>
